<div class="center-align row">
  <div class="valign-wrapper center-align" style="position: relative;">
      <div class="white-text valign center-align col s4 offset-s4 web-title-box">
          <h1> Sean Clancy</h1>
          <h2 class="flow-text"> Angular  |  Python  |  C++</h2>
      </div>
      <img class="img-style" src="app/images/Background1.png" width="100%">
  </div>
</div>
  <div class="section blue-grey darken-4">
    <div  class="row container">
      <h1 class="header white-text">Web Developer</h1>
      <p  class="grey-text white-text lighten-3"> Over 1 year of full-stack web development experience with Angular 1.5-2, Java Script, HTML, CSS/Less, Java-Jersy, Oracle SQL and exposure to other development frameworks. </p>
      <a class="waves-effect waves-light btn">See my projects</a>
      <a class="waves-effect waves-light btn">Need work done?</a>
    </div>
  </div>
  <div class="parallax-container">
    <div materialize="parallax"><img src="app/images/code2.png" width="1500"></div>
  </div>
    <div class="section amber accent-4">
    <div  class="row container">
      <h2 class="header white-text">Volunteer</h2>
      <p  class="grey-text white-text lighten-3">I love to help! Does your charitable organization need a web-application or site changed or built?</p>
      <a class="waves-effect waves-light btn">Get help here</a>
    </div>
  </div>
    <div class="parallax-container">
    <div  materialize="parallax"><img src="app/images/greyhound3.jpg"></div>
  </div>
  <div class="section green darken-2">
    <div  class="row container">
      <h2 class="header white-text">Student</h2>
      <p  class="grey-text white-text lighten-3"> I study CS at Utah Valley University. Check out some of my student projects on GitHub and BitBucket.</p>
       <a class="waves-effect waves-light btn">Check 'em out</a>
    </div>
  </div>
  <div class="parallax-container">
    <div materialize="parallax"><img src="app/images/uvu1.jpg"></div>
  </div>
  <div class="section red accent-4 ">
    <div  class="row container">
      <h2 class="header white-text">Self-Starter</h2>
      <p  class="grey-text white-text lighten-3">The Proof is in the code.</p>
      <a class="waves-effect waves-light btn">See my projects</a>
      <a class="waves-effect waves-light btn">Read my blog</a>
    </div>
  </div>
   <div class="parallax-container">
    <div materialize="parallax"><img src="app/images/courthack.jpg"></div>
  </div>