<!doctype html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>PersonalWebsite</title>
  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- angular2-materialize -->
  <link type="text/css" rel="stylesheet" href="vendor/materialize-css/dist/css/materialize.css"/>
  <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <app-root>  
    <div class="slider fullscreen valign-wrapper blue-grey darken-4">
      <div class="row container">
        <div class=" col s12 center">
          <h1 class="white-text">Loading</h1>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>  
    </div> 
  </app-root>
    {{#each scripts.polyfills}}
    <script src="{{.}}"></script>
    {{/each}}
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>

</body>
</html>
